*{
  margin: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a{
  text-decoration: none;
  color: #f8f9fa;
  margin: 15px 40px;
  font-size: 30px;
}

a:hover{
  font-size: 40px;
}

.Home{
  background-color: #212529;
  min-width: 100vw;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Dashboard{
  border: 2px solid red;
}

.Rodape{
  background-color: #212529;
  min-height: 33px;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #f8f9fa;
}

p{
  margin-top: 7px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
